<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.atc.mapper.MaterialMapper">
	<resultMap type="Material" id="cusMaterial">
		<id column="id" property="id" />
		<result column="matType" property="matType" />
		<result column="inventoryNum" property="inventoryNum" />
		<result column="purchaseWay" property="purchaseWay" />
		<result column="remark" property="remark" />
		<association property="partType" javaType="PartType">
			<id column="pid" property="id" />
			<result column="partClassId" property="partClassId" />
			<result column="partType" property="partType" />
			<association property="partClassify"
				javaType="PartClassify">
				<id column="p2id" property="id" />
				<result column="p2name" property="partName" />
			</association>
		</association>
	</resultMap>
	<select id="getMaterialsByCondition" resultMap="cusMaterial"
		parameterType="map">
		SELECT m.*,p.`id` AS
		'pid',p.`partClassId`,p.`partType`,p2.`id` AS 'p2id',p2.`partName` AS
		'p2name' FROM material m
		LEFT JOIN parttype p ON m.`matType`=p.`id`
		LEFT JOIN partclassify p2 ON p2.`id` = p.`partClassId`
		limit
		#{startRow},#{pageSize}
	</select>

	<select id="getMaterialsCountByCondition" parameterType="map"
		resultType="int">
		SELECT COUNT(m.id) FROM material m
		LEFT JOIN parttype p ON
		m.`matType`=p.`id`
	</select>

	<select id="getAllMaterials" resultType="Material">
		select * from Material
	</select>

	<update id="getOutMaterials"
		parameterType="ReceiveCollectMaterialDesc">
		update material set
		inventoryNum=inventoryNum-#{orderNum} where matType=#{partTypeId}
	</update>

	<insert id="insertMater" parameterType="integer">
		insert into
		material(matType)
		values(#{id})
	</insert>
	<update id="getInFinishedProductsStock"
		parameterType="ReceiveCollectMaterialDesc">
		update finishedproductsstock set
		inventoryNum=inventoryNum+#{orderNum} where
		productId=#{finishedPartTypeId}
	</update>
</mapper>
