<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.atc.mapper.PermissionMapper">
	<select id="getAllPermOne" resultType="AllPerm">
		select * from permission where permLevel=1
	</select>
	
	<select id="getAllPermTwo" resultType="PermLv2" parameterType="long">
		select * from permission where permLevel=2 and parentPermId=#{parentPermId}
	</select>
	
	<select id="getAllPermThr" resultType="Permission" parameterType="long">
		select * from permission where permLevel=3 and parentPermId=#{parentPermId}
	</select>
</mapper>
