<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.atc.mapper.PurchaseOrderMapper">

	<!-- 采购订单表的resultMap -->
	<resultMap type="PurchaseOrder" id="purchaseOrder">
		<id column="id" property="id" />
		<result column="purchaseTime" property="purchaseTime" />
		<result column="isSignin" property="isSignin" />
		<result column="notPassDesc" property="notPassDesc" />
		<result column="auditTime" property="auditTime" />
		<association property="buyerEmp" javaType="Employee">
			<id property="id" column="buyerId" />
			<result column="buyerName" property="name" />
		</association>
		<association property="consigneeEmp" javaType="Employee">
			<id property="id" column="consigneeId" />
			<result column="consigneeName" property="name" />
		</association>
		<association property="auditorEmp" javaType="Employee">
			<id property="id" column="auditorId" />
			<result column="auditorName" property="name" />
		</association>
		<association property="auditState" javaType="AuditState">
			<id property="id" column="auditstateId" />
			<result column="auditStateName" property="auditStateName" />
		</association>
		<collection property="purchaseOrderDescList" ofType="PurchaseOrderDesc">
			<id column="pid" property="id"/>
			<result column="partTypeId" property="partTypeId"/>
			<result column="orderNum" property="orderNum"/>
		</collection>
	</resultMap>
	
	<select id="getPurchaseOrdersByCondition" parameterType="map"
		resultMap="purchaseOrder">
		SELECT p2.`partClassId`,p1.`id` AS 'cid',p1.`orderNum`,p1.`purchaseOrderId`,p2.`id` AS
		'eid',p2.`partType`,p3.`id` AS 'yid',p3.`partName`,p4.*,
		e1.`id` AS 'buyerId',e1.`name` AS 'buyerName',
		e2.`id` AS 'auditorId',e2.`name` AS 'auditorName',
		e3.`id` AS
		'consigneeId',e3.`name` AS 'consigneeName',
		a.`id` AS
		'auditstateId',a.`auditStateName` FROM
		purchaseorderdesc p1
		INNER JOIN parttype p2 ON p2.`id`= p1.`partTypeId`
		INNER JOIN partclassify p3 ON p3.`id` = p2.`partClassId`
		INNER JOIN purchaseOrder p4 ON p4.id=p1.purchaseOrderId
		INNER JOIN
		employee e1 ON p4.`buyer`=e1.`id`
		INNER JOIN employee e2 ON
		p4.`auditor`=e2.`id`
		INNER JOIN employee e3 ON p4.`consignee`=e3.`id`
		INNER JOIN auditstate a ON p4.`auditStateId`=a.`id`
		<where>
			<if test="auditStateId!='' and auditStateId!=0">
				and p4.auditStateId=#{auditStateId}
			</if>
			<if test="purchaseOrderId!='' and purchaseOrderId!=0">
				and p1.purchaseOrderId=#{purchaseOrderId}
			</if>
			<if test="purchaseTime!=''">
				and p4.purchaseTime LIKE CONCAT('%',#{purchaseTime},'%')
			</if>
			<if test="partType!='' and partType!=0">
				and p2.partClassId=#{partType}
			</if>
		</where>
		GROUP BY p4.`id`
		limit #{startRow},#{pageSize}
	</select>

	<select id="getPurchaseOrderCountByCondition" parameterType="map" resultType="Integer">
		SELECT COUNT(1) FROM (
		SELECT p4.* FROM
		purchaseorderdesc p1
		INNER JOIN parttype p2 ON p2.`id`= p1.`partTypeId`
		INNER JOIN partclassify p3 ON p3.`id` = p2.`partClassId`
		INNER JOIN purchaseOrder p4 ON p4.id=p1.purchaseOrderId
		INNER JOIN
		employee e1 ON p4.`buyer`=e1.`id`
		INNER JOIN employee e2 ON
		p4.`auditor`=e2.`id`
		INNER JOIN employee e3 ON p4.`consignee`=e3.`id`
		INNER JOIN auditstate a ON p4.`auditStateId`=a.`id`
		<where>
			<if test="auditStateId!='' and auditStateId!=0">
				and p4.auditStateId=#{auditStateId}
			</if>
			<if test="purchaseOrderId!='' and purchaseOrderId!=0">
				and p1.purchaseOrderId=#{purchaseOrderId}
			</if>
			<if test="purchaseTime!=''">
				and p4.purchaseTime LIKE CONCAT('%',#{purchaseTime},'%')
			</if>
			<if test="partType!='' and partType!=0">
				and p2.partClassId=#{partType}
			</if>
		</where>
		GROUP BY p4.`id`
		)a
		
	</select>

</mapper>